* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(110, 107, 107);
}

header {
    background-color: rgb(250, 249, 249);
    padding: 20px;
}

.nav-div {
    text-align: center;
    color: rgb(24, 24, 77);
    margin: 20px auto;
}

.nav-nav>span {
    margin: 10px;
}

span a {
    text-decoration: none;
    color: rgb(24, 24, 77);
}

header h1 {
    color: rgb(24, 24, 77);
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
}

.score-board {
    margin: 20px auto;
    padding: 15px 20px;
    border: 1px solid rgb(250, 249, 249);
    border-radius: 4px;
    width: 200px;
    text-align: center;
    color: rgb(250, 249, 249);
    font-size: 40px;
    font-family: sans-serif;
    position: relative;
}

.badge {
    background-color: rgb(228, 3, 3);
    color: rgb(250, 249, 249);
    font-size: 14px;
    font-family: sans-serif;
    padding: 2px 10px;
    border: 1px solid rgb(250, 249, 249);
}

#user-label {
    position: absolute;
    top: 27px;
    left: -27px;
}

#comp-label {
    position: absolute;
    top: 27px;
    right: -30px;
}

.results {
    font-size: 40px;
    color: rgb(250, 249, 249);
}

.results>p {
    text-align: center;
    font-family: sans-serif;
    font-weight: lighter;
}

.choices {
    margin-top: 50px;
    text-align: center;
}

.choice {
    display: inline-block;
    border: 1px solid rgb(250, 249, 249);
    border-radius: 50%;
    padding: 10px;
    margin: 0 10px;
    transition: all 0.3s ease;
}

.choice:hover {
    cursor: pointer;
    background-color: rgb(124, 122, 122);
}

#action-message {
    text-align: center;
    color: rgb(250, 249, 249);
    font-family: sans-serif;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 20px;
}